{% extends 'base.html' %} {% block content %}
<h1>AYP Details</h1>
    <td scope="row">{{ayp_enrollment_record.id}}</td>
    {{ayp_enrollment_record.name}}
    <br/>
    {{ayp_enrollment_record.date_of_birth}}
    <br/>
    {{ayp_enrollment_record.contact_phone}}
    <br/>
    {{ayp_enrollment_record.county}}
    <br/>
    {{ayp_enrollment_record.sub_county}}
    <br/>
    {{ayp_enrollment_record.ward}}
    <br/>
    {{ayp_enrollment_record.village}}
    <br/>
    {{ayp_enrollment_record.guadian_phone_number}}
    <br/>
    {{ayp_enrollment_record.school}}
    <br/>
    {{ayp_enrollment_record.landmark}}
    <br/>
    {{ayp_enrollment_record.age}}
    <br/>
    {{ayp_enrollment_record.user}}
    <br/>
{% endblock %}
