{% extends 'base.html' %} {% block content %}
<div class="col-md-6 offset-md-3">
  {% if user.is_authenticated %}
  <h1>Records</h1>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  {% else %}
  <h1>Login</h1>
  <br />
  <form method="POST" action="{%url 'home'%}">
    {% csrf_token %}
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        name="username"
        required
      />
    </div>
    <br />
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        name="password"
        required
      />
    </div>
    <br />
    <button type="submit" class="btn btn-secondary">Login</button>
  </form>
</div>
{% endif %} {% endblock %}
