{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<h1>Enrollments</h1>

{{enrollment}}

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <td scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Contact</th>
      <th scope="col">County</th>
      <th scope="col">Sub County</th>
      <th scope="col">Ward</th>
      <th scope="col">Village</th>
      <th scope="col">Guardian Phone Number</th>
      <th scope="col">School</th>
      <th scope="col">Landmark</th>
      <th scope="col">Age</th>
      <th scope="col">Enrolled By:</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% if enrollments %} {% for enrollment in enrollments %}

    <tr>
      <td scope="row">{{enrollment.id}}</td>
      <td>{{enrollment.name}}</td>
      <td>{{enrollment.date_of_birth}}</td>
      <td>{{enrollment.contact_phone}}</td>
      <td>{{enrollment.county}}</td>
      <td>{{enrollment.sub_county}}</td>
      <td>{{enrollment.ward}}</td>
      <td>{{enrollment.village}}</td>
      <td>{{enrollment.guadian_phone_number}}</td>
      <td>{{enrollment.school}}</td>
      <td>{{enrollment.landmark}}</td>
      <td>{{enrollment.age}}</td>
      <td>{{enrollment.user}}</td>
      <td><a href="{%url 'ayp_enrollment_record' enrollment.id%}" class="btn btn-primary">View</a> <button type="submit" class="btn btn-secondary">Edit</button> 
        <button type="submit" class="btn btn-danger">Delete</button></td>
    </tr>
    {% endfor %} {% endif %}
  </tbody>
</table>
<a href="{% url 'add_enrollment' %}" class="btn btn-primary">Add Enrollment</a>
{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br />
<form method="POST" action="{%url 'home'%}">
  {% csrf_token %}
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Username"
      name="username"
      required
    />
  </div>
  <br />
  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Password"
      name="password"
      required
    />
  </div>
  <br />
  <button type="submit" class="btn btn-secondary">Login</button>
</form>

</div>

{% endif %} {% endblock %}
